/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

.form-container {
  max-width: 500px;
}

.button-group {
    min-width: 150px;
}

.mb-px {
  margin-bottom: 1px !important;
}

[data-bs-theme="light"] .navbar {
  background-color: #f2f2f2 !important; /* light grey in dark mode */
}
